main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    padding-bottom: 50px;
}

input {
    box-sizing: border-box;
    display: grid;

    height: 45px;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;
    padding-left: 25px;

    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgba(55, 55, 55, 0.282);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    border: 1px solid rgba(255, 255, 255, 0.18);
}

.divider {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: rgb(4, 4, 4);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

input:focus {
    outline: none;
    border: 2px solid rgb(98, 148, 145);
    background-color: rgba(237, 237, 237, 0.607);
}

input::placeholder {
    color: #aed9e1;
}

.form-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
}

.button {
    display: block;
    height: 45px;
    width: 100%;
    background: rgb(179, 197, 193);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}

@media (min-width: 769px) {
    .register-form-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 45px 60px 60px 75px 75px;
        grid-template-areas:
            "Title ."
            "Name Mail"
            "Pswd Pswd2"
            "Button Button";
        grid-column-gap: 10px;

        position: relative;
        z-index: 2;
        max-width: 1000px;
        width: auto;

        border-radius: 20px;
        padding: 30px;
        opacity: 0;

        background: rgba(255, 255, 255, 0.55);
        box-shadow: 0 8px 32px 0 rgba(55, 55, 55, 0.282);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        border: 1px solid rgba(0, 0, 0, 0.233);

        animation-name: fadeForm;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .entrance-form-container {
        display: grid;
        grid-template-rows: 45px 60px 60px 75px 75px;
        grid-template-areas:
            "Title"
            "Mail"
            "Pswd"
            "Button"
            "Button";
        position: relative;
        z-index: 2;
        max-width: 1000px;
        width: auto;

        border-radius: 20px;
        padding: 30px;
        opacity: 0;

        background: rgba(255, 255, 255, 0.55);
        box-shadow: 0 8px 32px 0 rgba(55, 55, 55, 0.282);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        border: 1px solid rgba(0, 0, 0, 0.233);

        animation-name: fadeForm;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }


    .form-buttons {
        grid-area: Button;
    }

    .form-title {
        grid-area: Title;
    }

    .form-field-name {
        grid-area: Name;
        margin-bottom: 13px;
    }

    .form-field-mail {
        grid-area: Mail;
        margin-bottom: 13px;
    }

    .form-field-pswd {
        grid-area: Pswd;
        margin-bottom: 13px;
    }

    .form-field-pswd-2 {
        grid-area: Pswd2;
        margin-bottom: 13px;
    }
}

@media (max-width: 768px) {
    form {
        padding-bottom: 15px;
        align-items: center;
        justify-content: center;
    }

    .register-form-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        position: relative;
        z-index: 2;
        grid-row-gap: 6px;

        justify-self: center;

        border-radius: 20px;
        padding: 20px;
        margin: 0 50px;
        margin-top: 50px;
        margin-bottom: 50px;
        opacity: 0;

        background: rgba(255, 255, 255, 0.55);
        box-shadow: 0 8px 32px 0 rgba(55, 55, 55, 0.282);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        border: 1px solid rgba(0, 0, 0, 0.233);

        animation-name: fadeForm;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .entrance-form-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        position: relative;
        z-index: 2;
        grid-row-gap: 6px;

        border-radius: 20px;
        padding: 20px;
        margin: 0 50px;
        margin-top: 50px;
        margin-bottom: 50px;
        opacity: 0;

        background: rgba(255, 255, 255, 0.55);
        box-shadow: 0 8px 32px 0 rgba(55, 55, 55, 0.282);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        border: 1px solid rgba(0, 0, 0, 0.233);

        animation-name: fadeForm;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    input {
        height: 25px;
        width: 100%;
        font-size: 14px;
        line-height: 16px;
    }

    .button {
        height: 25px;
        width: 100%;
        font-size: 14px;
        line-height: 25px;
    }

    .divider {
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (max-width: 432px) {
    .register-form-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        position: relative;
        z-index: 2;
        grid-row-gap: 6px;

        justify-self: center;

        border-radius: 20px;
        padding: 10px;
        margin: 0 20px;
        margin-top: 60px;
        margin-bottom: 30px;
        opacity: 0;

        background: rgba(255, 255, 255, 0.55);
        box-shadow: 0 8px 32px 0 rgba(55, 55, 55, 0.282);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        border: 1px solid rgba(0, 0, 0, 0.233);

        animation-name: fadeForm;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .entrance-form-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        position: relative;
        z-index: 2;
        grid-row-gap: 6px;

        border-radius: 20px;
        padding: 10px;
        margin: 0 20px;
        margin-top: 60px;
        margin-bottom: 30px;
        opacity: 0;

        background: rgba(255, 255, 255, 0.55);
        box-shadow: 0 8px 32px 0 rgba(55, 55, 55, 0.282);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        border: 1px solid rgba(0, 0, 0, 0.233);

        animation-name: fadeForm;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
  }

@media (max-width: 355px) {
    .register-form-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        position: relative;
        z-index: 2;
        grid-row-gap: 6px;

        justify-self: center;

        border-radius: 20px;
        padding: 10px;
        margin: 0 20px;
        margin-top: 60px;
        margin-bottom: 50px;
        opacity: 0;

        background: rgba(255, 255, 255, 0.55);
        box-shadow: 0 8px 32px 0 rgba(55, 55, 55, 0.282);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        border: 1px solid rgba(0, 0, 0, 0.233);

        animation-name: fadeForm;
        animation-duration: .5s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
  }

@keyframes fadeForm {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

.button:hover {
    background-color: rgb(145, 248, 193);
    color: black;
}

a.button {
    text-decoration: none;
    color: white;
}

.button-or {
    background: #88c8d2;
}

.button-or:hover {
    background: #85dce9;
    color: black;
}

form {
    position: absolute;
    justify-self: center;
    max-width: 750px;
    width: 100%;
}